.background {
  /* background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 100% 100%,
      rgb(156, 163, 175) 0,
      transparent 36%
    ),
    radial-gradient(at 70% 32%, rgb(255, 237, 213) 0, transparent 100%),
    radial-gradient(at 10% 64%, rgb(221, 214, 254) 0, transparent 87%),
    radial-gradient(at 66% 76%, rgb(239, 68, 68) 0, transparent 38%),
    radial-gradient(at 0% 62%, rgb(253, 164, 175) 0, transparent 60%); */

  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 100% 32%,
      rgb(203, 213, 225) 0,
      transparent 39%
    ),
    radial-gradient(at 19% 52%, rgb(254, 215, 170) 0, transparent 66%);
}
